<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>


</head>

<body>
<h1>Registration</h1>

<div id="wrapper">
    <form id="signin" th:method="POST" th:action="@{/auth/personalData}">
        <input type="text" th:field="*{user.name}" id="name" placeholder="name"/>
        <br/>
        <input type="text" th:field="*{user.surname}" id="surname" placeholder="surname">
        <br/>
        <input type="date" th:field="*{user.dateOfBirth}" id="dateOfBirth" placeholder="dateOfBirth">
        <br/>
        <input type="text" th:field="*{user.passportData}" id="passportData" placeholder="passportData">
        <br/>
        <input type="text" th:field="*{user.phoneNumber}" id="phoneNumber" placeholder="phoneNumber">
        <br/>
<!--        <input type="text" th:field="${clientStatus}" id="clientStatus" placeholder="clientStatus">-->
<!--        <br/>-->



        <button type="submit"></button>
    </form>

</div>


<style>

</style>

</body>
</html>
