<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Save new car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/hello">CAR RENTAL GRODNO</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/cars">Cars</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container wb">
    <div class="row centered">
        <h2>Add new car</h2>
        <form th:method="POST" th:action="@{/admin/saveNewCar}" enctype="multipart/form-data">
            Car model:
            <input type="text" th:field="*{car.carModel}"/><br/><br/>
            Car year:
            <input type="text" th:field="*{car.year}"/><br/><br/>
            Car class:
            <select th:name="nameClass">
                <option value="">Select car class</option>
                <option th:each="carClass : ${carClasses}"
                        th:value="${carClass.nameClass}"
                        th:text="${carClass.nameClass}">
                </option>
            </select>
            <br/>
            <br/>
            Total cost of the car:
            <input type="number" th:field="*{car.totalCostCar}"/><br/><br/>
            Fuel consumption:
            <input type="number" step="any" th:field="*{car.fuelConsumption}"/><br/><br/>
            Engine Volume:
            <input type="number" step="any" th:field="*{car.engineVolume}"/><br/><br/>
            Transmission:
            <select th:object="${car}" th:field="*{transmission}">
                <option value="">Select transmission</option>
                <option th:each="transmission : ${transmissions}"
                        th:value="${transmission}"
                        th:text="${transmission}">
                </option>
            </select>
            <br/>
            <br/>
            Car cost:
            <input type="number" th:field="*{car.cost}"/><br/><br/>
            Car condition:
            <select th:name="status">
                <option value="">Select car status</option>
                <option th:each="status : ${carStatuses}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>
            <br/>
            Add image:
            <input type="file" th:name="file"/><br/>
            <br/>
            <br/>
            <input type="submit" value="Save new car"/>
        </form>
    </div>
</div>

</body>
</html>
