<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/hello">CAR RENTAL GRODNO</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/cars">Cars</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container wb">
    <div class="row centered">
        <h1>All orders</h1></br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Creation time</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthday</th>
                <th>Passport Data</th>
                <th>Car</th>
                <th>Start of rental</th>
                <th>End Of Rental</th>
                <th>Price</th>
                <th>Repair cost</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${listOrders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.creationTime}"></td>
                <td th:text="*{order.user.name}"></td>
                <td th:text="*{order.user.surname}"></td>
                <td th:text="*{order.user.dateOfBirth}"></td>
                <td th:text="${order.user.passportData}"></td>
                <td th:text="*{order.car.carModel}"></td>
                <td th:text="${order.startOfRental}"></td>
                <td th:text="${order.endOfRental}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.repairBill}"></td>
                <td>
                    <div th:text="${order.status.displayName}"></div>
                    <div th:if="${order.status.displayName == 'PAID, WAITING CONFIRMATION'}">
                        <form th:method="POST" th:action="@{/admin/pending/{id}(id=${order.id})}">
                            <button type="submit" th:name="action" th:value="confirmed" class="btn btn-primary">
                                Confirmed
                            </button>
                            <button type="submit" th:name="action" th:value="denied" class="btn btn-warning">Denied
                            </button>
                        </form>
                    </div>
                    <div th:if="${order.status.displayName == 'CAR RETURN'}">
                        <form th:method="POST" th:action="@{/admin/checkedCar/{id}(id=${order.id})}">
                            <button type="submit" th:name="action" th:value="completed" class="btn btn-success">Ok,
                                completed
                            </button>
                            <button type="submit" th:name="action" th:value="damaged" class="btn btn-danger">The
                                car is damaged
                            </button>
                        </form>
                    </div>
                    <div th:if="${order.status.displayName == 'CAR DAMAGED'}">
                        <form th:method="GET" th:action="@{/admin/calculateRepair/{id}(id=${order.id})}">
                            <button type="submit" th:name="action" class="btn btn-primary">Calculate repair</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <div th:if="${totalPages > 1}">
            Total Rows: [[${totalItems}]]&nbsp;&nbsp;&nbsp;&nbsp;
            <span th:each="i: ${#numbers.sequence( 1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/orders/' + ${i}}">[[${i}]]</a>
                    <span th:unless="${currentPage !=i}" aria-hidden="true">[[${i}]]</span> &nbsp;
                </span>
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/admin/orders/' + ${currentPage +1}}">Next</a>
            <span th:unless="${currentPage < totalPages}" aria-hidden="true">Next</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/orders/' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}" aria-hidden="true">Last</span>
        </div>
    </nav>
</div>
<div class="container wb">
    <div class="row centered">
        <br/><br/>
        <div class="col-lg-8 col-lg-offset-2">
            <h4></h4>
            <p></p>
            <p></p>
            <p></p>
            <p><br/><br/></p>
        </div>
    </div>
</div>
<div id="f">
    <div class="container">
        <div class="row centered">
        </div>
    </div>
</div>
</body>
</html>