<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/hello">CAR RENTAL GRODNO</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/cars">Cars</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container wb">
    <div class="row centered">
        <h1>All users</h1></br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Date of birth</th>
                <th>Passport data</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="login : ${logins}">
                <td th:text="${login.id}"></td>
                <td th:text="${login.username}"></td>
                <td th:text="${login.user.name}"></td>
                <td th:text="${login.user.surname}"></td>
                <td th:text="${login.user.dateOfBirth}"></td>
                <td th:text="${login.user.passportData}"></td>
                <td th:text="${login.user.email}"></td>
                <td th:text="${login.role}"></td>
                <td th:text="${login.user.status}"></td>
                <td>
                    <form th:method="POST" th:action="@{/admin/blocking/{id}(id=${login.user.id})}">
                        <div th:if="${login.user.status.displayName == 'BLOCKED'}">
                            <button type="submit" th:name="action" th:value="unlock" class="btn btn-primary">
                                Unlock
                            </button>
                        </div>
                        <div th:unless="${login.user.status.displayName == 'BLOCKED'}">
                            <button type="submit" th:name="action" th:value="block" class="btn btn-warning">Block
                            </button>
                        </div>

                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container wb">
    <div class="row centered">
        <br/><br/>
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
        </div>
    </div>
</div>

</body>
</html>