<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/hello">CAR RENTAL GRODNO</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id=hello href="/hello">Car park</a></li>
                <li><a id=profile href="/myProfile">My profile</a></li>
                <li><a id=orders href="/orders">My orders</a></li>
                <li><a id=logout href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Car Rental in Crodno</h1>
            </div>
        </div>
    </div>
</div>
</br></br></br>
<div class="container wb">
    <div class="row centered">
        <div class="col-lg-6">
            <h3>Price per day</h3></br>
            <div>
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td>1-3 days</td>
                        <td>
                            <span th:text="${prices.get(0)}"></span>
                            <span>  USD/day</span>
                        </td>
                    </tr>
                    <tr>
                        <td>4-7 days</td>
                        <td>
                            <span th:text="${prices.get(1)}"></span>
                            <span>  USD/day</span>
                        </td>
                    </tr>
                    <tr>
                        <td>8-14 days</td>
                        <td>
                            <span th:text="${prices.get(2)}"></span>
                            <span>USD/day</span>
                        </td>
                    </tr>
                    <tr>
                        <td>15-30 days</td>
                        <td>
                            <span th:text="${prices.get(3)}"></span>
                            <span>  USD/day</span>
                        </td>
                    </tr>
                    <tr>
                        <td>from 30 days</td>
                        <td>
                            <span th:text="${prices.get(4)}"></span>
                            <span>  USD/day</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <form th:action="@{/chooseCar/{id}(id=${car.id})}">

                <h3 th:text="${car.carModel}">value</h3><br/><br/>
                Class:
                <strong th:text="${car.carClass}">value</strong><br/><br/>
                Fuel consumption :
                <strong th:text="${car.fuelConsumption}">value</strong><br/><br/>
                Engine volume:
                <strong th:text="${car.engineVolume}">value</strong><br/><br/>
                Transmission:
                <strong th:text="${car.transmission}">value</strong><br/><br/>

                <input type="submit" class="btn btn-primary" value="Order a car"/><br/><br/>
                <span style="color: red" th:if="${errorMessage}" th:text="${errorMessage}">Error</span>
            </form>
        </div>
    </div>
</div>
<div class="container wb">
    <div class="row centered">
        <br/><br/>
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Why rent with Car Rental Grodno?</h4>
            <p>Unlimited miles on standard vehicles</p>
            <p>Car rental made quick and easy</p>
            <p>Friendly 24/7 customer service</p>
            <p><br/><br/></p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-10 col-lg-offset-1"></div>
        <img src="img/dsfds" alt="" class="img-responsive">
    </div>
</div>

<div id="f">
    <div class="container">
        <div class="row centered">
            <a href="#">Twitter<i class="fa fa-twitter"></i></a>
            <a href="#">Facebook<i class="fa fa-facebook"></i></a>
            <a href="#">Instagram<i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>

<style>

<!--		#header{-->
<!--		    background: rgb(52, 56, 61);-->
<!--		    color: rgb(255, 255, 255);-->
<!--		    text-align: center;-->
<!--		}-->

<!--		#block2 {-->
<!--            float: right;-->
<!--            width: 900px-->
<!--        }-->

<!--        #block1 {-->

<!--            float: left;-->
<!--            width: 700px-->
<!--        }-->

<!--		#logout, #hello, #orders, #profile {-->
<!--            margin-top: 20px;-->
<!--            line-height: 38px;-->
<!--            font-size: 93%;-->
<!--            padding: 0 25px;-->
<!--            background: white;-->
<!--            position: relative;-->
<!--            left: 35%;-->
<!--            transform: translate(-55%, 0);-->
<!--        }-->
<!--            button:hover {-->
<!--            transition: 0.3s linear;-->
<!--            background: rgb(112, 182, 234);-->
<!--            color: white;-->
<!--        }-->















</style>
</body>
</html>
