<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<div th:switch="${cars}">
    <h2 th:case="null">No cars found!</h2>
    <div th:case="*">

        <h2>Cars</h2>
        <a id=admin href="/admin">Admin</a>
        <a id=logout href="/logout">Logout</a>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>model</th>
                <th>class</th>
                <th>cost</th>
                <th>availability</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.id}"></td>
                <td th:text="${car.carModel}"></td>
                <td th:text="${car.carClass}"></td>
                <td th:text="${car.cost}"></td>
                <td th:text="${car.availability}"></td>
                <td><a th:href="@{chooseCar/{id}(id=${car.id})} ">Choose a car</a></td>

            </tr>
            </tbody>
        </table>


    </div>
    <p id="href"><a href="/car-create">Create car</a></p>
</div>


<style>

<!--		body{-->
<!--		background: rgb(52, 56, 61);-->
<!--		color: rgb(255, 255, 255);-->

<!--		text-align: center;-->
<!--		}-->

<!--		#href{-->
<!--        color: rgb(255, 255, 255);-->
<!--		}-->

<!--		#logout, #admin {-->
<!--        margin-top: 20px;-->
<!--        line-height: 38px;-->
<!--        font-size: 93%;-->
<!--        padding: 0 25px;-->
<!--        background: white;-->
<!--        border: 2px solid rgb(112, 182, 234);-->
<!--        border-radius: 35px;-->
<!--        position: relative;-->
<!--        left: 45%;-->
<!--        transform: translate(-55%, 0);-->
<!--        }-->
<!--        button:hover {-->
<!--        transition: 0.3s linear;-->
<!--        background: rgb(112, 182, 234);-->
<!--        color: white;-->
<!--        }-->





</style>
</body>
</html>