<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/hello">CAR RENTAL GRODNO</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id=hello href="/hello">Car park</a></li>
                <li><a id=profile href="/myProfile">My profile</a></li>
                <li><a id=orders href="/orders">My orders</a></li>
                <li><a id=logout href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Car Rental in Crodno</h1>
            </div>
        </div>
    </div>
</div>

<div class="container w">
    <div class="row centered">
        <br/><br/>
        <div class="col-lg-3" th:each="car : ${cars}">
            <h4>
                <a th:text="${car.carModel}" th:href="@{/detailedInformation/{id}(id=${car.id})}"></a>
            </h4>
            <big>Class </big><big th:text="${#strings.toUpperCase(car.carClass)}"></big><br/>
            <big>transmission </big><big th:text="${car.transmission}"></big><br/>
            <big th:text="${car.cost}"></big><big>$ per/ day </big><br/>
            <p>sadfhsguihuisghruiehgerghrehgihre reh ghreihg irewh ghreh ierwh hieh rgh oweirhgherh hgeorh
                erj goirjegj rejg jrejg rjeg jreij</p>
            <br/><br/>
        </div>
    </div>
    <br/><br/>
</div>

<!--<div class="container w">-->
<!--    <div class="row centered" >-->
<!--        <br/><br/>-->
<!--        <div class="col-lg-3">-->
<!--            <i th:text="${cars.get(0).carModel}"></i>-->
<!--            <h4>Economy class</h4>-->
<!--            <p>sadfhsguihuisghruiehgerghrehgihre reh ghreihg irewh ghreh ierwh hieh rgh oweirhgherh hgeorh-->
<!--                erj goirjegj rejg jrejg rjeg jreij</p>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <i th:text="${cars.get(1).carModel}"></i>-->
<!--            <h4>Comfort class</h4>-->
<!--            <p>sadfhsguihuisghruiehgerghrehgihre reh ghreihg irewh ghreh ierwh hieh rgh oweirhgherh hgeorh-->
<!--                erj goirjegj rejg jrejg rjeg jreij</p>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <i th:text="${cars.get(2).carModel}"></i>-->
<!--            <h4>Premium class</h4>-->
<!--            <p>sadfhsguihuisghruiehgerghrehgihre reh ghreihg irewh ghreh ierwh hieh rgh oweirhgherh hgeorh-->
<!--                erj goirjegj rejg jrejg rjeg jreij</p>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <i th:text="${cars.get(3).carModel}"></i>-->
<!--            <h4>Electric car</h4>-->
<!--            <p>sadfhsguihuisghruiehgerghrehgihre reh ghreihg irewh ghreh ierwh hieh rgh oweirhgherh hgeorh-->
<!--                erj goirjegj rejg jrejg rjeg jreij</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <br/><br/>-->
<!--</div>-->

<div id="dg">
    <div class="container">
        <div class="row centered">
            <h4> EEFJ KEMF</h4>
            <br/>
            <div class="col-lg-3">
                <div class="tilt">
                    <a href="#">erhrehre<img src="img.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tilt">
                    <a href="#">errereh<img src="img.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tilt">
                    <a href="#">reger<img src="img.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tilt">
                    <a href="#">reger<img src="img.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container wb">
    <div class="row centered">
        <br/><br/>
        <div class="col-lg-8 col-lg-offset-2">
            <h4>We rent CAR!</h4>
            <p>kjfgjew kewjf wejf ewjewj f</p>
            <p><br/><br/></p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-10 col-lg-offset-1"></div>
        <img src="img/dsfds" alt="" class="img-responsive">
    </div>
</div>

<div id="f">
    <div class="container">
        <div class="row centered">
            <a href="#">Twitter<i class="fa fa-twitter"></i></a>
            <a href="#">Facebook<i class="fa fa-facebook"></i></a>
            <a href="#">Instagram<i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>

</body>
</html>