<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose a car</title>
</head>
<body>

<h1>
    <form  th:method="POST" th:action="@{/chooseCar}">
        Car -    <p th:text="${car.carModel}">value</p>
        Class - <p  th:text="${car.carClass}">value</p>
        Cost - <p  th:text="${car.cost}">value</p>
        Availability -<p  th:text="${car.availability}">value</p>
        <br/>
        <br/>
        <label for="date1">Enter the rental start date: </label><br/>
        <input type="date" th:field="${order.startOfRental}" id="date1"/>
        <br/>
        <br/>
        <label for="date2">Enter the rental end date: </label><br/>
        <input type="date" th:field="${order.endOfRental}" id="date2"/>
        <br/>
        <br/>
        <label for="passport">Enter the passport data: </label><br/>
        <input type="text" th:field="${order.passportData}" id="passport"/>
        <br/>
        <br/>
        <input type="submit" value="Save Order"/>
    </form>
</h1>


<style>

		body{
		background: rgb(52, 56, 61);
		color: rgb(255, 255, 255);
		text-align: center;
		}

        #n{
        text-align: left;
        }


</style>
</body>
</html>
