<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<form  th:method="POST" th:action="@{/order}">
    <input type="text" th:field="*{order.user}" id="user" placeholder="user"/>
    <br/><br/>
    <input type="text" th:field="*{order.car}" id="car" placeholder="car">
    <br/><br/>
    <input type="date" th:field="*{order.startOfRental}" id="startOfRental" placeholder="startOfRental"/>
    <br/><br/>
    <input type="date" th:field="*{order.endOfRental}" id="endOfRental" placeholder="endOfRental">
    <br/><br/>
    <input type="text" th:field="*{order.passportData}" id="passportData" placeholder="passportData">
    <br/><br/>
    <input type="text" th:field="*{order.discount}" id="discount" placeholder="discount">
    <br/><br/>
    <input type="text" th:field="*{order.price}" id="price" placeholder="price">
    <br/><br/>

    <button type="submit">Save order</button>
</form>




<!--<div th:switch="${orders}">-->
<!--    <h2 th:case="null">No orders found!</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>Orders</h2>-->
<!--        <a id=logout href="/logout">Logout</a>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>user</th>-->
<!--                <th>car</th>-->
<!--                <th>cost</th>-->
<!--                <th>startOfRental</th>-->
<!--                <th>endOfRental</th>-->
<!--                <th>discount</th>-->
<!--                <th>price</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="order : ${orders}">-->
<!--                <td th:text="${order.id}"></td>-->
<!--                <td th:text="${order.user}"></td>-->
<!--                <td th:text="${order.car}"></td>-->
<!--                <td th:text="${order.startOfRental}"></td>-->
<!--                <td th:text="${order.endOfRental}"></td>-->
<!--                <td th:text="${order.passportData}"></td>-->
<!--                <td th:text="${order.discount}"></td>-->
<!--                <td th:text="${order.price}"></td>-->
<!--&lt;!&ndash;                <td><a th:href="@{chooseCar/{id}(id=${car.id})} ">Choose a car</a></td>&ndash;&gt;-->

<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>